<div class="kit__section">
	<div class="title kit__title">
		<div class="title__main">Icons</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Лист иконок</div>
		</div>
		{% include "kit/icon/icon_list.njk" %}
	</div>
</div>