<div class="kit__item">
	<ul class="kit__list">
		<li class="kit__row">
			<span class="icon icon_viber"></span>
			<div class="kit__list-class">icon.icon_viber</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_insta"></span>
			<div class="kit__list-class">icon.icon_insta</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_tg"></span>
			<div class="kit__list-class">icon.icon_tg</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_phone"></span>
			<div class="kit__list-class">icon.icon_phone</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_visa"></span>
			<div class="kit__list-class">icon.icon_visa</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_mc"></span>
			<div class="kit__list-class">icon.icon_mc</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_lpay"></span>
			<div class="kit__list-class">icon.icon_lpay</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_arrow icon_arrow_to_left icon_arrow_view_pseudo"></span>
			<div class="kit__list-class">icon.icon_arrow.icon_arrow_to_left</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_arrow icon_arrow_to_right icon_arrow_view_pseudo"></span>
			<div class="kit__list-class">icon.icon_arrow.icon_arrow_to_right.icon_arrow_view_pseudo</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_arrow icon_arrow_to_left"></span>
			<div class="kit__list-class">icon.icon_arrow</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_arrow icon_arrow_to_right"></span>
			<div class="kit__list-class">icon.icon_arrow</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_arrow_thin"></span>
			<div class="kit__list-class">icon.icon_arrow</div>
		</li>

		<li class="kit__row">
			<span class="icon icon_cart"></span>
			<div class="kit__list-class">icon.icon_cart</div>
		</li>
		<li class="kit__row">
			<span class="icon icon_burger"></span>
			<div class="kit__list-class">icon.icon_burger</div>
		</li>

	</ul>
</div>