<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Базовое поле</div>
	</div>
	<div class="kit__class">Не требует класса</div>
	<div class="kit__current">
		<span class="input input_size_l">
			<span class="input__box">
				<input class="input__control"/>
			</span>
		</span>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Поле на всю ширину</div>
	</div>
	<div class="kit__class">input_width_available</div>
	<div class="kit__current">
		<span class="input input_size_l input_width_available">
			<span class="input__box">
				<input class="input__control"/>
			</span>
		</span>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Поле с ошибкой</div>
	</div>
	<div class="kit__class">input_view_error</div>
	<div class="kit__current">
		<span class="input input_size_l input_view_error">
			<span class="input__box">
				<input class="input__control"/>
			</span>
		</span>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Поле с успешным статусом</div>
	</div>
	<div class="kit__class">input_view_success</div>
	<div class="kit__current">
		<span class="input input_size_l input_view_success">
			<span class="input__box">
				<input class="input__control"/>
			</span>
		</span>
	</div>
</div>