<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер S</div>
	</div>
	<div class="kit__class">input_size_s</div>
	<div class="kit__current">
		<span class="input input_size_s">
			<span class="input__box">
				<input class="input__control"/>
			</span>
		</span>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер M</div>
	</div>
	<div class="kit__class">input_size_m</div>
	<div class="kit__current"><span class="input input_size_m"><span class="input__box"><input class="input__control"/></span></span></div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер L</div>
	</div>
	<div class="kit__class">input_size_l</div>
	<div class="kit__current"><span class="input input_size_l"><span class="input__box"><input class="input__control"/></span></span></div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер XL</div>
	</div>
	<div class="kit__class">input_size_xl</div>
	<div class="kit__current"><span class="input input_size_xl"><span class="input__box"><input class="input__control"/></span></span></div>
</div>