<div class="kit__section">
	<div class="title kit__title">
		<div class="title__main">Inputs</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Виды полей</div>
		</div>
		{% include "kit/input/input_view.njk" %}
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Размеры полей</div>
		</div>
		{% include "kit/input/input_size.njk" %}
	</div>

	<div class="kit__box">
		<div class="title">
			<div class="title__sub">С лэйблом</div>
		</div>
		{% include "kit/input/input_with_label.njk" %}
	</div>
</div>