<div class="kit__list-item kit__list-item_dark" style="background-color: #252b31">
	<div class="kit__color-item" >
		<div class="kit__color-item-var">$color_dark</div>
		<div class="kit__color-item-hex">#252b31</div>
	</div>
</div>

<div class="kit__list-item" style="background-color: #f6fafb">
	<div class="kit__color-item">
		<div class="kit__color-item-var">$color_blue</div>
		<div class="kit__color-item-hex">#f6fafb</div>
	</div>
</div>

<div class="kit__list-item kit__list-item_dark" style="background-color: #d49c6b">
	<div class="kit__color-item">
		<div class="kit__color-item-var">$color_gold</div>
		<div class="kit__color-item-hex">#d49c6b</div>
	</div>
</div>

<div class="kit__list-item"  style="background-color: #c1c8c7">
	<div class="kit__color-item">
		<div class="kit__color-item-var">$color_gray</div>
		<div class="kit__color-item-hex">#c1c8c7, 55%</div>
	</div>
</div>

<div class="kit__list-item" style="background-color: #c1c8c7">
	<div class="kit__color-item" >
		<div class="kit__color-item-var">$color_gray_light</div>
		<div class="kit__color-item-hex">#c1c8c7, 15%</div>
	</div>
</div>

<div class="kit__list-item" style="background-color: #fff">
	<div class="kit__color-item" >
		<div class="kit__color-item-var">$color_light</div>
		<div class="kit__color-item-hex">#fff</div>
	</div>
</div>

<div class="kit__list-item kit__list-item_dark" style="background-color: #36b98f">
	<div class="kit__color-item" >
		<div class="kit__color-item-var">$color_green</div>
		<div class="kit__color-item-hex">#36b98f</div>
	</div>
</div>

<div class="kit__list-item kit__list-item_dark" style="background-color: #d9222a">
	<div class="kit__color-item" >
		<div class="kit__color-item-var">$color_red</div>
		<div class="kit__color-item-hex">#d9222a</div>
	</div>
</div>