<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Селект с лейблом </div>
	</div>
	<div class="kit__class">
		---- </div>
	<div class="kit__current">


	<label class="label label_size_s">
			<div class="label__inner">
				<div class="label__box">
					<span
						for=""
						class="label__text"
					>Название поля</span>
				</div>
				<div class="select">
					<select name="" id="" class="select__control">
						<option value="" class="select__item">Сначала дорогие</option>
						<option value="" class="select__item">Сначала дешевые</option>
						<option value="" class="select__item">От А до Я</option>
						<option value="" class="select__item">От Я до А</option>
					</select>
				</div>
			</div>
	</label>


	<label for="standard-select">Standard Select</label>
<div class="select">
  <select id="standard-select">
    <option value="Option 1">Option 1</option>
    <option value="Option 2">Option 2</option>
    <option value="Option 3">Option 3</option>
    <option value="Option 4">Option 4</option>
    <option value="Option 5">Option 5</option>
    <option value="Option length">
      Option that has too long of a value to fit
    </option>
  </select>
</div>










	</div>
</div>
