<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Селект с лейблом (псевдо) - 300px</div>
	</div>
	<div class="kit__class">select-custom_short</div>
	<div class="kit__current">

		<div class="select-custom select-custom_short">
			<div class="select-custom__inner">
				<div class="select-custom__active">По цене вверх</div>
				<div class="select-custom__list">

					<a
						href="#"
						class="select-custom__item link"
					>
						Сначала дорогие
					</a>

					<a
						href="#"
						class="select-custom__item link"
					>
						Сначала дешевые
					</a>

					<a
						href="#"
						class="select-custom__item  link"
					>
						От А до Я
					</a>

					<a
						href="#"
						class="select-custom__item link"
					>
						От Я до А
					</a>

				</div>
			</div>
		</div>

	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Селект с лейблом (псевдо) - во всю ширину</div>
	</div>
	<div class="kit__class">без класса</div>
	<div class="kit__current">

		<div class="select-custom">
			<div class="select-custom__inner">
				<div class="select-custom__active">По цене вверх</div>
				<div class="select-custom__list">

					<a
						href="#"
						class="select-custom__item link"
					>
						Сначала дорогие
					</a>

					<a
						href="#"
						class="select-custom__item link"
					>
						Сначала дешевые
					</a>

					<a
						href="#"
						class="select-custom__item  link"
					>
						От А до Я
					</a>

					<a
						href="#"
						class="select-custom__item link"
					>
						От Я до А
					</a>

				</div>
			</div>
		</div>

	</div>
</div>