<div class="kit__section">
    <div class="title kit__title">
        <div class="title__main">Colors</div>
    </div>
    <div class="kit__box">
        <div class="title">
            <div class="title__sub">Палитра</div>
        </div>
        <div class="kit__list">{% include "kit/colors/colors_list.njk" %}</div>
    </div>
</div>
