{% extends "layout/layout-bg.njk" %}
{% block main %}
    {% include "blocks/phases/phases.njk" %}
    {% include "blocks/benefit/benefit.njk" %}
    {% include "blocks/work/work.njk" %}
{% endblock %}

