<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Группа радион с лейблом</div>
	</div>
	<div class="kit__class">input_size_s</div>
	<div class="kit__current">
		<!-- Стандартное поле -->
		<label class="label label_size_l form__row">
			<div class="label__inner">
				<div class="label__box">
					<span class="label__text">Радио кнопки</span>
				</div>
				<div class="label__body">

					<div class="radio radio_size_l label__radio">
						<div class="radio__inner">

							<span class="radio__box">
								<input
									class="radio__control"
									type="radio"
									name="payment"
									id="radio_test1"
								>
							</span>

							<label
								class="radio__text"
								role="presentation"
								for="radio_test1"
							>
								Первая кнопка
							</label>

						</div>
					</div>

					<div class="radio radio_size_l label__radio">
						<div class="radio__inner">

							<span class="radio__box">
								<input
									class="radio__control"
									type="radio"
									name="payment"
									id="radio_test2"
								>
							</span>

							<label
								class="radio__text"
								role="presentation"
								for="radio_test2"
							>
								Вторая кнопка
							</label>

						</div>
					</div>

				</div>
			</div>
		</label>
		<!-- Стандартное поле КОНЕЦ-->
	</div>
</div>