<div class="kit__section">
	<div class="title kit__title ">
		<div class="title__main">Радиобаттоны</div>
	</div>
	<div class="kit__box">
		<div class="title ">
			<div class="title__sub">Кастомные радио</div>
		</div>
		{% include "kit/radio/radio-types.njk" %}
	</div>
</div>