<div class="kit__section">
	<div class="title kit__title">
		<div class="title__main">Checkbox</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Размеры боксов</div>
		</div>
		{% include "kit/checkbox/checkbox-size.njk" %}
	</div>

	{#<div class="kit__box">
		<div class="title">
			<div class="title__sub">Типы боксов</div>
		</div>
		{% include "kit/checkbox/checkbox-type.njk" %}
	</div>#}

</div>