<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер S</div>
	</div>
	<div class="kit__class">checkbox_size_s</div>
	<div class="kit__current">
		<label class="label checkbox checkbox_size_s">
			<span class="checkbox__box">
				<input class="checkbox__control" type="checkbox"/>
			</span>
			<span class="checkbox__text">Текст</span>
		</label>

	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер M</div>
	</div>
	<div class="kit__class">checkbox_size_m</div>
	<div class="kit__current">

		<label class="checkbox checkbox_size_m">
			<span class="checkbox__box">
				<input class="checkbox__control" type="checkbox"/>
			</span>
			<span class="checkbox__text">Текст</span>
		</label>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер L</div>
	</div>
	<div class="kit__class">checkbox_size_l</div>
	<div class="kit__current">

		<label class="label checkbox checkbox_size_l">
			<span class="checkbox__box">
				<input class="checkbox__control" type="checkbox"/>
			</span>
			<span class="checkbox__text">Текст</span>
		</label>

	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер XL</div>
	</div>
	<div class="kit__class">checkbox_size_xl</div>
	<div class="kit__current">

		<label class="label checkbox checkbox_size_xl">
			<span class="checkbox__box">
				<input class="checkbox__control" type="checkbox"/>
			</span>
			<span class="checkbox__text">Текст</span>
		</label>

	</div>
</div>