<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Обычный</div>
	</div>
	<div class="kit__class">checkbox</div>
	<div class="kit__current">
		<label class="label checkbox checkbox_size_s">
			<span class="checkbox__box">
				<input class="checkbox__control" type="checkbox"/>
			</span>
			<span class="checkbox__text">Текст</span>
		</label>

	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Цвет</div>
	</div>
	<div class="kit__class">checkbox-color</div>
	<div class="kit__current">
		<label class="label checkbox-color checkbox-color_size_l"><input class="checkbox-color__control" type="checkbox"/>
			<div class="checkbox-color__box" data-color="#bea"></div>
		</label>
	</div>
</div>