{% extends 'kit/layout/kit-cell-layout.njk' %}
{% block cell %}
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Size S</div>
        </div>
        <div class="kit__class">button_size_s</div>
        <div class="kit__current">
            <button class="button button_view_primary button_size_s">
                <div class="button__text">I'm button!</div>
            </button>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Size M</div>
        </div>
        <div class="kit__class">button_size_m</div>
        <div class="kit__current">
            <button class="button button_view_primary button_size_m">
                <div class="button__text">I'm button!</div>
            </button>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Size L</div>
        </div>
        <div class="kit__class">button_size_l</div>
        <div class="kit__current">
            <button class="button button_view_primary button_size_l">
                <div class="button__text">I'm button!</div>
            </button>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Size XL</div>
        </div>
        <div class="kit__class">button_size_xl</div>
        <div class="kit__current">
            <button class="button button_view_primary button_size_xl">
                <div class="button__text">I'm button!</div>
            </button>
        </div>
    </div>
{% endblock cell %}
