{% set kit = {cellName: "View button"} %}
{% include "kit/component/button/button_view.njk" %}
{% set kit = {cellName: "Size button"} %}
{% include "kit/component/button/button_size.njk" %}
{% set kit = {cellName: "Modifier button"} %}
{% include "kit/component/button/button_mod.njk" %}
{% set kit = {cellName: "Icon button"} %}
{% include "kit/component/button/button_icon.njk" %}
