<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер S</div>
	</div>
	<div class="kit__class">input_size_s</div>
	<div class="kit__current">
		<label class="label label_size_s">
			<div class="label__inner">
				<div class="label__box">
					<span
				for=""
				class="label__text"
			>Название поля</span>
				</div>
				<textarea class="textarea textarea_size_s label__textarea" placeholder="Ваш текст должен быть здесь"></textarea>

			</div>
		</label>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер M</div>
	</div>
	<div class="kit__class">input_size_m</div>
	<div class="kit__current">
		<label class="label label_size_m">
			<div class="label__inner">
				<div class="label__box">
					<span
				for=""
				class="label__text"
			>Название поля</span>
				</div>
				<textarea class="textarea textarea_size_m label__textarea" placeholder="Ваш текст должен быть здесь"></textarea>

			</div>
		</label>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер L</div>
	</div>
	<div class="kit__class">input_size_l</div>
	<div class="kit__current">
		<label class="label label_size_l">
			<div class="label__inner">
				<div class="label__box">
					<span
				for=""
				class="label__text"
			>Название поля</span>
				</div>
				<textarea class="textarea textarea_size_l label__textarea" placeholder="Ваш текст должен быть здесь"></textarea>

			</div>
		</label>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер XL</div>
	</div>
	<div class="kit__class">input_size_xl</div>
	<div class="kit__current">
		<label class="label label_size_xl">
			<div class="label__inner">
				<div class="label__box">
					<span
				for=""
				class="label__text"
			>Название поля</span>
				</div>
				<textarea class="textarea textarea_size_xl label__textarea" placeholder="Ваш текст должен быть здесь"></textarea>

			</div>
		</label>
	</div>
</div>