<div class="kit__section">
	<div class="title kit__title">
		<div class="title__main">Textarea</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Виды текстового поля</div>
			{% include "kit/textarea/textarea_view.njk" %}
		</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Размеры текстового поля</div>
		</div>
		{% include "kit/textarea/textarea_size.njk" %}
	</div>

	<div class="kit__box">
		<div class="title">
			<div class="title__sub">С лейблом</div>
		</div>
		{% include "kit/textarea/textarea_with_label.njk" %}
	</div>
</div>