<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер S</div>
	</div>
	<div class="kit__class">input_size_s</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_s" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер M</div>
	</div>
	<div class="kit__class">input_size_m</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_m" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер L</div>
	</div>
	<div class="kit__class">input_size_l</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_l" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Размер XL</div>
	</div>
	<div class="kit__class">input_size_xl</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_xl" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>