<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Базовое поле</div>
	</div>
	<div class="kit__class">Не требует класса</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_l" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">На всю ширину</div>
	</div>
	<div class="kit__class">textarea_width_available</div>
	<div class="kit__current">
		<textarea class="textarea textarea_size_l textarea_width_available" placeholder="Ваш текст должен быть здесь"></textarea>
	</div>
</div>