<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Заголовок первого уровня с декором (длинный)</div>
	</div>

	<div class="kit__class">title__section</div>
	<div class="kit__current">
		<span class="title page__title deco__line">
			<span class="title__section deco__title">Заголовок первого уровня! Заголовок первого уровня! Заголовок первого уровня! Заголовок первого уровня!</span>
		</span>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Заголовок первого уровня с декором (короткий)</div>
	</div>

	<div class="kit__class">title__section</div>
	<div class="kit__current">
		<span class="title page__title deco__line">
			<span class="title__section deco__title">Зголовок первого уровня!</span>
		</span>
	</div>
</div>

<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Заголовок второго уровня</div>
	</div>
	<div class="kit__class">title__main</div>
	<div class="kit__current">
		<span class="title page__title">
			<span class="title__main">Заголовок второго уровня!</span>
		</span>
	</div>
</div>
<div class="kit__item">
	<div class="kit__var title">
		<div class="title__mini">Заголовок третьего уровня</div>
	</div>
	<div class="kit__class">title__sub</div>
	<div class="kit__current">
		<span class="title page__title">
			<span class="title__sub">Заголовок третьего уровня!</span>
		</span>
	</div>
</div>