<div class="kit__section">
	<div class="title kit__title">
		<div class="title__main">Title</div>
	</div>
	<div class="kit__box">
		<div class="title">
			<div class="title__sub">Размеры заголовков</div>
		</div>
		{% include "kit/title/title_size.njk" %}
	</div>
</div>